<% provide(:title, 'Display Questions') %>
<h1 class="text-center">All Questions</h1>

<%= ctr = 0 %>
<table class="table table-striped table-hover">
  <thead>
    <th>#</th>
    <th>Question Name</th>
    <th>Question Type</th>
    <th>Edit Question</th>
    <th>Delete</th>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td><%= ctr + 1 %></td>
        <td><%= question.name %></td>
        <td><%= question.qtype %></td>
        <td><%= link_to "Edit", edit_question_path(question.id) %></td>
        <td><%=	link_to "Delete", question, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <%=	 ctr = ctr + 1 %>
  <% end %>
  </tbody>
</table>